*{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.container{
    max-width: 1500px;
min-width: 960px;
display: flex;
justify-content: space-between;
margin: 0 auto;
height: 100%;
background-color: rgb(242, 246, 250);
border-bottom-color: rgb(197, 201, 208);
border-bottom-style: solid;
border-bottom-width: 1px;
color: rgb(27, 30, 34);
}

.header{
   

}
.navigation{
  
    display: flex;
    height: 68px;
    width: 190px;
    flex-shrink: 0;
    padding-left: 10px;
}
.logo{
    width: 200px;
    height: 100%;
    background-image: url('hipmunk-logo.png');
    background-size: cover;
}
.navbar ul{
    display: flex;
    align-items: center;
    height: 68px;
    list-style-type: none;
}
.navbar ul li{
    font-size: 16px;
    margin-left: 25px;
    
}
.frontpage{
    max-width: 1500px;
    min-width: 960px;
}
.frontpagebase img{
    /* background-image: #ffffff url("c.png") no-repeat; */
    max-width: 100%;
    min-width: 100%;
}
/* .arrow::before{
content: "\f036";
} */
.my-search{
    display: flex;
}
.wrap{
    /* width: 50%; */
}
.drop{
    display: flex;
    align-items: center;
    border-right: 1px solid #c5c9d0;
    
}
.dropbar{
    display: flex;
    width: 190px;
    cursor: pointer;
    text-align: center;
    display: block;
}
.searchfor{
    border-right: 1px solid #c5c9d0;
}
.searchbar{
    width: 190px;
    cursor: pointer;
    text-align: center;
    display: block; 
}
.search1{
    width: 100%;
    height: 100%;
    position: relative;
    /* border-left: 1px solid #c5c9d0;
    border-right: 1px solid #c5c9d0; */
}
.search2{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
   
    width: 100%;
}
.tab-panel{
    position: absolute;
    
    width: 100px;
    height: 20px;
    top: 190px;
    /* display: inline-block; */
}
.nav{
   list-style-type: none;
   display: flex;
   height: 68px;
 
  
}
.nav ul li{
    font-size: 16px;
    margin-left: 25px;
    width: 23px;
    padding: 23px;
    background: navy;
}
.nav a{
    text-decoration: none;
}
.head{
    color: white;
    position: absolute;
    top:130px;
    margin-left: 370px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:  #1e5885;
    
    position: absolute;
    top: 200px;
    margin-left: 220px;
  }
  .intro {  
    background-color:  #1e5885;  
}
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: 1px solid  white;
    outline: none;
    cursor: pointer;
    padding: 14px 18px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(67, 35, 245);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    /* background-color: rgb(31, 6, 141); */
    background-color: #06375c;
  }
  .dropbar{
      display: flex;
  }
  input[type=text],label {
    width: 20%;
    height: 10%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
   
  }
 #search-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  select {
    width:  10%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  .round1{
    margin-left: -10px; 
    
  }
  .tabcontent.round{
    margin-top: -10px; 
    padding: 20px;
  }
  /* Style the tab content */
  .tabcontent {
    width: 67%;
    box-sizing: border-box;
    height: 140px;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top: 250px;
    margin-left: 220px;
    background: white;
  }
  #Cars{
    display: none;
  }
  #Hotels{
      display: none;
  }
  .active{
      display: block;
  }
  /* body {
	background:#bf5c71 url('body-bg.jpg');
} */

.clearfix:after {
	display:block;
	clear:both;
}

/*----- Menu Outline -----*/
.menu-wrap {
	width:40%;
	box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	/* background:#3e3436; */
}
/* .wrap {
	width:40%;
	/* box-shadow:0px 1px 3px rgba(0,0,0,0.2); */
    /* background:#3e3436; } 
*/
.flagscountry{
    width:150%;
    height: 100%;
    /* background: -webkit-linear-gradient(top,#fff,#f0f1f3); */
    background: -webkit-linear-gradient(top,#fff,#f0f1f3);

    /* box-shadow:0px 1px 3px rgba(0,0,0,0.2); */
    /* border: 1px solid #c5c9d0; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-shadow: 0 1px 1px #888;
    /* display: none; */
    margin-right: 15px;
    width: 60px;
    border: 1px solid #c5c9d0;
    color: #163f5e;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 8px;
    /* white-space: nowrap; */
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    position: relative;
    right: 15px;
}
.menu {
	width:250px;
	margin:0px auto;
}
.menuu {
	width:60px;
	margin:20px auto;
}
.menu li {
	margin:0px;
	list-style:none;
	font-family:'Ek Mukta';
}
.menuu li {
	margin:0px;
	list-style:none;
	font-family:'Ek Mukta';
}
.menu a {
	/* transition:all linear 0.15s; */
    color:#919191;
    text-decoration: none;
}
.menuu a {
	transition:all linear 0.15s;
    color:#919191;
    text-decoration: none;
}

.menu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:#be5b70;
}
.menuu li:hover > a, .menu .current-item > a {
	text-decoration:none;
	color:#be5b70;
}
.menu .arrow {
	background-color: gray;
}
.menuu .arrow {
	font-size:11px;
	line-height:0%;
} */
/*----- Top Level -----*/
.menu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}
.menuu > ul > li {
	float:left;
	display:inline-block;
	position:relative;
	font-size:19px;
}
.menu > ul > li > a {
	padding:10px 40px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.menuu > ul > li > a {
	padding:10px 40px;
	display:inline-block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
    
}
.menuu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
    
}
/*----- Bottom Level -----*/
.sub-menu table tr:hover{
	/* z-index:1;
    opacity:1; */
    background-color: #d3e9fa;
}
.menuu li .sub-menu {
	z-index:1;
	opacity:1;
}
table {
    display: table;
    border-collapse: separate;
    /* border-spacing: 2px; */
    border-color: grey;
    vertical-align: middle;
    border-color: inherit;
    overflow: hidden;
    margin: 0px;
    padding: 10px 0px;
    /* border:1px solid; */
    
}
table tr{
    display: block;
    white-space: nowrap;
    height: 25px;
    line-height: 25px;
    color: #6c7689;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    width: 100%;
   
}
table td{
    width: 55%;
    text-align: left;
}
.tab-img{
    font-weight: 400!important;
    font-size: 12px;
    padding-left: 7px;
    /* border: 1px solid; */
    /* width:90%; */
    /* padding:-1px; */
}
.cur-name{
    text-align: right;
    font-size: 11px;
    font-weight: 400!important;
    padding-bottom: 0px;
    padding-left:20px;
    padding-right: 0px;
    padding-top: 0px;
    width: 5%;
}
.cur-sign{
    text-align: right;
    font-weight: 400!important;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 0px;
    width: 5%;
}
table td{
    border-collapse: separate;
    display: table-cell;
    vertical-align: inherit;
}
.sub-menu {
	width:310%;
	padding:5px 0px;
	position:absolute;
	top:100%;
	right:0px;
	/* z-index:-1;
	opacity:0; */
	transition:opacity linear 0.15s;
	/* box-shadow:0px 2px 3px rgba(0,0,0,0.2); */
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(102, 102, 102) 0px 3px 16px -3px;
color: rgb(22, 63, 94);
    display: none;
   
    /* top: 50.5px; */
    /* right: 294.922px;  */
     /* z-index: 1001; */
}

.sub-menu li {
	display:block;
	font-size:16px;
}

.sub-menu li a {
	padding:10px 30px;
    display:block;
    text-decoration: none;
}

/* .sub-menu li a:hover, .sub-menu .current-item a {
	background:#3e3436;
} */
.account{
  width: 31%;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        flex-shrink: 0;
    text-align: center;
    position: relative;margin-top: 25px;
}
.air{
    padding: 64px 0;
    background-color: #f7f8f9;
    color: #163f5e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-air{
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 24px;
    display: inline-block;
}
.head-content{
    height: 110px;
    padding-bottom: 26px;
}
.business{
    height: 415px;
    padding: 64px 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #6c7689;
    font-size: 14px;
    font-weight: 400;
}
.business-content{
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    color: #163f5e;
}
.business-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #163f5e;
}
.effects{
    position: absolute;
    top: 113px;
    right: 220px;
    background-image: url('sprites_home.png');
    background-repeat: no-repeat;
    background-position: 0 -200000px;
    width: 194px;
    height: 151px;
    opacity: 1;
    z-index:1;
}
.business-logo{
    margin-left: 24px;
}
.learn-link{
    color: #3394de;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
#link-arrow{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    background-image: url('link-arrow.svg');
}